In [1]:
list1 = [1 , 2 , 3 , 4 , 5]
list1

[1, 2, 3, 4, 5]

In [3]:
list2 = ['a' , 'b' , 1 , 2 , 3]
list2

['a', 'b', 1, 2, 3]

In [4]:
len(list2)

5

In [5]:
list1.append(1)
list1

[1, 2, 3, 4, 5, 1]

In [6]:
list1.pop()
list1

[1, 2, 3, 4, 5]

In [7]:
list2.extend(['aa' , 'bb' , 'cc'])
list2

['a', 'b', 1, 2, 3, 'aa', 'bb', 'cc']

In [8]:
list2.remove('a')
list2

['b', 1, 2, 3, 'aa', 'bb', 'cc']

In [10]:
list1.remove(1)
list1

[2, 3, 4, 5]

In [11]:
py_book = ['파이썬 머신러닝 완벽 가이드' , '파이썬 철저 입문' , '파이썬 코딩 도장' , 
           '파이썬 라이브러리를 활용한 머신러닝' , "파이썬 프로그래밍"]
py_book

['파이썬 머신러닝 완벽 가이드',
 '파이썬 철저 입문',
 '파이썬 코딩 도장',
 '파이썬 라이브러리를 활용한 머신러닝',
 '파이썬 프로그래밍']

In [12]:
py_book.append('모두의 파이썬')
py_book

['파이썬 머신러닝 완벽 가이드',
 '파이썬 철저 입문',
 '파이썬 코딩 도장',
 '파이썬 라이브러리를 활용한 머신러닝',
 '파이썬 프로그래밍',
 '모두의 파이썬']

In [13]:
py_book.append("파이썬 데이터 주무르기")
py_book

['파이썬 머신러닝 완벽 가이드',
 '파이썬 철저 입문',
 '파이썬 코딩 도장',
 '파이썬 라이브러리를 활용한 머신러닝',
 '파이썬 프로그래밍',
 '모두의 파이썬',
 '파이썬 데이터 주무르기']

In [14]:
py_book.insert(1 , 34200)
py_book

['파이썬 머신러닝 완벽 가이드',
 34200,
 '파이썬 철저 입문',
 '파이썬 코딩 도장',
 '파이썬 라이브러리를 활용한 머신러닝',
 '파이썬 프로그래밍',
 '모두의 파이썬',
 '파이썬 데이터 주무르기']

In [15]:
py_book.insert(3 , 24300)
py_book.insert(5 , 22500)
py_book.insert(7 , 27000)
py_book.insert(9 , 25000)
py_book.insert(11 , 10800)
py_book

['파이썬 머신러닝 완벽 가이드',
 34200,
 '파이썬 철저 입문',
 24300,
 '파이썬 코딩 도장',
 22500,
 '파이썬 라이브러리를 활용한 머신러닝',
 27000,
 '파이썬 프로그래밍',
 25000,
 '모두의 파이썬',
 10800,
 '파이썬 데이터 주무르기']

In [16]:
py_book.append(24750)
py_book

['파이썬 머신러닝 완벽 가이드',
 34200,
 '파이썬 철저 입문',
 24300,
 '파이썬 코딩 도장',
 22500,
 '파이썬 라이브러리를 활용한 머신러닝',
 27000,
 '파이썬 프로그래밍',
 25000,
 '모두의 파이썬',
 10800,
 '파이썬 데이터 주무르기',
 24750]

In [30]:
import pandas as pd

practice = pd.DataFrame({'날짜' : [] , '운동' : [] , '양' : []})
practice

Empty DataFrame
Columns: [날짜, 운동, 양]
Index: []

In [31]:
practice.loc[0] = ['19-3-1' , '달리기' , 1.]
practice

       날짜   운동    양
0  19-3-1  달리기  1.0

In [32]:
practice.loc[1] = ['19-3-2' , '걷기' , 1.]
practice.loc[2] = ['19-3-2' , '달리기' , 1.]
practice.loc[3] = ['19-3-2' , '계단오르기' , 1.]
practice

       날짜     운동    양
0  19-3-1    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0

In [33]:
practice.loc[4] = ['19-3-3' , '걷기' , 1.5]
practice.loc[5] = ['19-3-3' , '달리기' , 1.]
practice

       날짜     운동    양
0  19-3-1    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0
4  19-3-3     걷기  1.5
5  19-3-3    달리기  1.0

In [34]:
practice.to_csv("./data/practice.csv" , encoding = 'UTF-8')

In [35]:
pd.read_csv("./data/practice.csv",encoding = 'UTF-8')

   Unnamed: 0      날짜     운동    양
0           0  19-3-1    달리기  1.0
1           1  19-3-2     걷기  1.0
2           2  19-3-2    달리기  1.0
3           3  19-3-2  계단오르기  1.0
4           4  19-3-3     걷기  1.5
5           5  19-3-3    달리기  1.0

In [36]:
pd.read_csv("./data/practice.csv", index_col = 0 , encoding = 'UTF-8')
practice

       날짜     운동    양
0  19-3-1    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0
4  19-3-3     걷기  1.5
5  19-3-3    달리기  1.0

In [37]:
practice.loc[6] = ["19-3-4" , "걷기" , 1.5]
practice.loc[7] = ["19-3-5" , "달리기" , 1.]
practice.loc[8] = ["19-3-6" , "걷기" , 2.5]
practice.loc[9] = ["19-3-6" , "달리기" , 0.5]
practice

       날짜     운동    양
0  19-3-1    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0
4  19-3-3     걷기  1.5
5  19-3-3    달리기  1.0
6  19-3-4     걷기  1.5
7  19-3-5    달리기  1.0
8  19-3-6     걷기  2.5
9  19-3-6    달리기  0.5

In [38]:
practice.pivot_table(index = "운동")

           양
운동
걷기     1.625
계단오르기  1.000
달리기    0.900

In [39]:
import numpy as np
practice.pivot_table(index = "운동" , aggfunc = np.sum)

         양
운동
걷기     6.5
계단오르기  1.0
달리기    4.5

In [40]:
practice.pivot_table(index = "운동" , aggfunc = [np.sum,len])

       sum len
         양  날짜    양
운동
걷기     6.5   4  4.0
계단오르기  1.0   1  1.0
달리기    4.5   5  5.0

In [41]:
practice.pivot('날짜' , '운동' , '양')

운동       걷기  계단오르기  달리기
날짜
19-3-1  NaN    NaN  1.0
19-3-2  1.0    1.0  1.0
19-3-3  1.5    NaN  1.0
19-3-4  1.5    NaN  NaN
19-3-5  NaN    NaN  1.0
19-3-6  2.5    NaN  0.5

In [42]:
prac_pivot = practice.pivot('날짜' , '운동' , '양')
prac_pivot.fillna(0 , inplace = True)
prac_pivot

운동       걷기  계단오르기  달리기
날짜
19-3-1  0.0    0.0  1.0
19-3-2  1.0    1.0  1.0
19-3-3  1.5    0.0  1.0
19-3-4  1.5    0.0  0.0
19-3-5  0.0    0.0  1.0
19-3-6  2.5    0.0  0.5